/*
Project Name: AirVoz
Client: GPMEC
Author: Maryam Sarabian
*/
/******************************************
Variables
*******************************************/
/******************************************
/* SETUP
/*******************************************/
/* Box Model Hack */
* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */ }

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clear {
  clear: both; }

.alignright {
  float: right;
  padding: 0 0 10px 10px;
  /* note the padding around a right floated image */ }

.alignleft {
  float: left;
  padding: 0 10px 10px 0;
  /* note the padding around a left floated image */ }

/******************************************
/* BASE STYLES
/*******************************************/
a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

/******************************************
/* LAYOUT
/*******************************************/
/* Center the container */
.container {
  margin: 0 auto;
  width: 100%; }

/****************************
/*Header styles
***************************/
.mainHeader {
  background: #3F739E;
  padding: 0.8%;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
  opacity: 0.9; }
  .mainHeader h1 {
    font-family: "Lobster", cursive;
    font-size: 50px;
    text-align: center;
    width: 33.3%;
    float: left; }
  .mainHeader .hamburger:before {
    content: '\2630';
    cursor: pointer;
    font-size: 25px;
    margin-top: -2%;
    width: 20px;
    padding-right: 4%; }
  .mainHeader .menu {
    width: 33.3%;
    float: left;
    padding-left: 4%;
    margin-top: 1%; }
  .mainHeader a {
    color: white;
    text-decoration: none; }
  .mainHeader .Menu1 {
    margin-left: 20px; }
  .mainHeader .Login {
    text-align: right;
    width: 33.3%;
    float: left;
    margin-top: 20px; }
  .mainHeader li {
    display: inline;
    padding-right: 20px; }
  .mainHeader button {
    background-color: black;
    border: solid 1px blue; }

/**********************
Hamberger menu styles
*************************/
#navigator {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;
  background: rgba(52, 152, 219, 0.7);
  float: left;
  z-index: 10; }

#nav {
  width: 250px;
  height: auto;
  display: block;
  margin: 0;
  padding: 0; }

.nav_tab {
  width: 250px;
  height: 50px;
  display: block; }

.nav_tab a p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 22px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
  padding: 15px 0;
  text-align: center;
  transition: 0.35s ease;
  -webkit-transition: 0.35s ease;
  -moz-transition: 0.35s ease; }

.nav_tab a p:hover {
  background: rgba(255, 255, 255, 0.9);
  color: black;
  letter-spacing: 2px;
  transition: 0.35s ease;
  -webkit-transition: 0.35s ease;
  -moz-transition: 0.35s ease; }

.menu-icon {
  width: 150px;
  height: 35px;
  position: fixed;
  top: 0;
  left: 0px;
  margin: 10px;
  z-index: 10;
  padding-top: 5px; }

.menu-text {
  width: 50px;
  height: 35px;
  font-size: 23px;
  color: white;
  display: block;
  position: fixed;
  top: 0;
  left: 50px;
  margin-top: 18px;
  margin-left: 10px;
  z-index: 9; }

.menu-icon div {
  width: 35px;
  height: 5px;
  background: white;
  margin: 4px;
  padding-left: 30px;
  transition: all 0.35s;
  border-radius: 2px; }

.on .line_one {
  transform: rotate(45deg) translate(7px, 7px); }

.on .line_two {
  opacity: 0; }

.on .line_three {
  transform: rotate(-45deg) translate(7px, -7px); }

/****************************
owl carousel styles
*****************************/
#owl-demo2 .owl-buttons {
  display: none; }

#owl-demo .item1, #owl-demo .item2, #owl-demo .item3, #owl-demo2 .item1, #owl-demo2 .item2, #owl-demo2 .item3 {
  background-size: cover;
  width: 100%;
  height: 550px; }
#owl-demo .wrapper, #owl-demo2 .wrapper {
  padding: 13rem 0;
  height: 550px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); }
#owl-demo .info, #owl-demo2 .info {
  float: right;
  width: 50%;
  font-family: sans-serif;
  color: #f1f1f1;
  line-height: 1.7;
  font-weight: bold;
  margin-right: 25%; }
  #owl-demo .info a, #owl-demo2 .info a {
    color: white; }
#owl-demo h2, #owl-demo2 h2 {
  font-size: 30px; }
#owl-demo p, #owl-demo2 p {
  font-size: 22px; }
#owl-demo button, #owl-demo2 button {
  background: #3F739E;
  display: block;
  padding: 12px;
  width: 50%;
  color: white;
  margin: 20px auto;
  font-size: 18px; }

.owl-buttons {
  margin-top: -330px;
  display: block;
  animation-name: arrow-fade-out;
  cursor: pointer;
  font-size: 20px;
  clear: both; }
  .owl-buttons .owl-prev {
    float: left; }
  .owl-buttons .owl-next {
    float: right; }

.owl-buttons div {
  color: blue;
  zoom: 6;
  padding: 3px 10px;
  font-size: 52px;
  opacity: 0.5; }

.owl-theme .owl-controls .owl-buttons div {
  color: white;
  zoom: 1;
  padding: 13px;
  font-size: 22px;
  opacity: 0.5;
  width: 40px;
  height: 50px; }

/************************
Feature section
**************************/
.features {
  margin-top: 350px;
  padding: 30px;
  moz-margin-start: 300px;
  webkit-margin-start: 300px;
  margin-start: 300px;
  clear: both;
  width: 100%;
  text-align: center;
  background-size: cover;
  padding-bottom: 100px;
  height: 1200px; }
  .features h1 {
    color: white;
    background-color: black;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 20px;
    height: 40px;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    width: 50%;
    margin-bottom: 10px;
    margin-top: 20px; }

.box {
  height: 400px;
  overflow: hidden;
  border: 1px solid #000;
  box-shadow: 0px 0px 15px 0px #666, 0px 5px 15px 0px #000; }
  .box img {
    width: 350px;
    height: 450px; }

.cover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.99, 0.99, 0, 0.61);
  -moz-transition: all 0.4s cubic-bezier(0.99, 0.99, 0, 0.61);
  transition: all 0.4s cubic-bezier(0.99, 0.99, 0, 0.61);
  padding: 1em;
  color: #fff;
  overflow: hidden;
  border-radius: 30px;
  border: 2px solid pattern-grid-dark;
  text-shadow: 1px 1px 0px #000; }

.title {
  font-size: 20px;
  font-style: italic;
  padding-top: 130px;
  text-align: center;
  font-family: sans-serif; }

.box:hover .top {
  -webkit-transition: all 0.7s cubic-bezier(0.99, 0.99, 0, 0.61);
  top: 0px; }

.top {
  top: -453px; }

.floatLeft1 {
  float: left;
  clear: both;
  margin-left: 10%;
  margin-top: 50px;
  border-radius: 30px; }

.floatLeft2 {
  float: left;
  clear: both;
  margin-left: 10%;
  margin-top: 50px;
  border-radius: 30px; }

.floatRight1 {
  float: right;
  margin-right: 10%;
  margin-top: 50px;
  border-radius: 30px;
  width: 352px; }

.floatRight2 {
  float: right;
  margin-right: 10%;
  margin-top: 50px;
  border-radius: 30px; }

/****************************
hidden div styles(fancy box styles)
*********************************/
.hiddenDiv {
  display: none;
  width: 1000px;
  height: 820px;
  background-image: url("../IMAGE/fancyBoxBackground.gif");
  background-size: cover;
  background-position: cover; }
  .hiddenDiv img {
    width: 360px;
    height: 600px;
    float: right;
    margin-top: 10px;
    margin-right: 20px; }
  .hiddenDiv h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: -100px; }
  .hiddenDiv .featureHiddenNote {
    float: left;
    width: 605px;
    margin-top: 300px;
    margin-left: 15px;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    text-align: left;
    line-height: 1.7; }

/**********************************
Mentioned in social media section
**********************************/
.options {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%; }
  .options div {
    width: 30%;
    background-color: black;
    color: white;
    height: 60px;
    text-align: center;
    padding-top: 1.5%;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 20px;
    border-radius: 10px; }

.useCase {
  height: 300px;
  padding: 2px;
  margin-top: 50px; }

.usecase-wrapper {
  margin: 0 auto;
  width: 85%; }

.faceBook, .instagram, .twitter {
  float: left;
  width: 33.3%; }
  .faceBook img, .instagram img, .twitter img {
    margin-left: 20%;
    border: 2px solid gray;
    border-radius: 20px; }
  .faceBook a, .instagram a, .twitter a {
    padding: 5px; }

.twitter :nth-child(2), .instagram :nth-child(2), .faceBook :nth-child(2) {
  display: none; }

#twitterUseCase, #faceBookUseCase, #instagramUseCase {
  height: 90%;
  width: 84%;
  margin-left: 30px; }

#twitterClick img, #instagramClick img, #faceBookClick img {
  height: 120px;
  width: 120px;
  margin-left: 33%;
  margin-top: -15px; }

/*******************
styles after opening the menu 
*********************/
#useCaseAfterExpandingMenu {
  height: 400px; }

#featuresAfterexpand {
  height: 1100px; }

#test {
  position: relative;
  padding-left: 250px; }

#test2 {
  padding-left: -250px; }

/*****************************
Log In page styles
*******************************/
.LogInPage {
  background: black;
  color: white;
  padding: 0.8%; }
  .LogInPage h1 {
    font-family: "Lobster", cursive;
    font-size: 50px;
    text-align: center;
    padding-bottom: 5%;
    margin: 0 auto;
    width: 33.3%;
    border-bottom: 1px solid white; }
  .LogInPage h2 {
    width: 100%;
    text-align: center;
    line-height: 0.1em;
    margin: 0 auto; }
  .LogInPage h2 span {
    padding: 0 10px;
    background: black; }
  .LogInPage .boxes {
    margin: 40px auto 0 auto;
    width: 33.3%; }
  .LogInPage #checkbox-rememberme {
    width: 22px;
    height: 23px;
    color: blue; }
  .LogInPage button {
    display: block;
    width: 100%;
    margin: 50px 0;
    height: 40px;
    border-radius: 6px;
    background: #3F739E;
    color: white; }
  .LogInPage a {
    text-decoration: none;
    color: white; }
  .LogInPage input[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #3F739E;
    color: white;
    margin: 30px auto;
    display: block; }
  .LogInPage .SignIn {
    padding-bottom: 24px;
    border-bottom: 1px white solid;
    display: block;
    text-align: center; }

.checkBox {
  display: inline-block;
  position: relative;
  padding-left: 8px;
  margin-bottom: 12px;
  line-height: 24px;
  vertical-align: middle;
  cursor: pointer; }

#email, #passWord, #userName, #datepicker, #confirmPassWord {
  width: 100%;
  height: 40px;
  margin: 10px auto 40px auto;
  border-radius: 6px; }

.newAccount {
  margin: 0 auto; }
  .newAccount p {
    margin-top: 30px;
    margin-left: 50px; }
  .newAccount a {
    text-decoration: none;
    display: block;
    width: 150px;
    margin-top: -15px;
    float: right;
    margin-right: -30px; }

 /*header.mainHeader:after {
    content: "";
    position: absolute;
    z-index: 1000;
    border-right: 100vw solid #3F739E;
 top: 70px;
 border-bottom: 40px solid transparent;
  left: 0;
}*/
/*******************
Legal Page
*********************/
.legal {
  position: relative;
  top: 100px;
  text-align: center;
  padding-left: 40px;
  font-family: sans-serif; }
  .legal a {
    text-decoration: none;
    color: black;
    width: 30%;
    height: 60px;
    margin: 20px 2px;
    font-size: 20px;
    background: gray;
    border: 1 px solid gray;
    display: block;
    padding: 12px;
    float: left; }
  .legal h1 {
    font-size: 100px; }
  .legal h2 {
    text-align: left;
    font-size: 35px;
    clear: both; }
  .legal article {
    padding: 20px 0;
    text-align: left;
    font-size: 20px;
    line-height: 30px; }
  .legal h1, .legal h2 {
    text-transform: uppercase; }
  .legal ul, .legal ol {
    text-align: left;
    font-size: 19px;
    line-height: 30px;
    padding-left: 60px;
    line-height: 20px; }
  .legal article {
    line-height: 25px; }
  .legal ul {
    list-style-type: disc; }
  .legal ol {
    list-style-type: decimal; }
    .legal ol .lowerRoman {
      list-style-type: lower-roman; }
    .legal ol .upperAlpha {
      list-style-type: upper-alpha; }
  .legal p {
    text-align: left;
    margin-left: 20px; }
  .legal .selectedLink {
    background: black;
    color: white; }

.color {
  background: #ccddff; }

.legalButtons {
  margin: 0 auto;
  width: 70%; }

#legalPage {
  margin-top: 200px; }

/************************
SignUp Page Styles
************************/
.signUpHeader h1 {
  margin-left: 35%; }

.signUpTitle {
  color: #3F739E;
  font-family: sans-serif;
  position: relative;
  top: 100px;
  font-size: 30px;
  text-align: center; }

.signUpimage {
  background-image: url("../IMAGE/sign-up.jpg") left top no-repeat;
  height: 235px;
  width: 212px;
  margin-left: -55%; }

.SignUpPage {
  background-color: white;
  color: black; }

#submitSignupPage {
  display: none; }

#error {
  color: red;
  margin-left: 104px; }

/******************************
About Us Page
********************************/
.aboutCompany {
  height: 700px;
  background-image: url("../IMAGE/aboutUsbackGround.jpg");
  background-size: cover; }
  .aboutCompany h1 {
    position: relative;
    top: 50%;
    padding-left: 30%;
    color: white;
    font-size: 5em;
    font-family: sans-serif; }

.aboutUsWrapper {
  height: 700px;
  opacity: 0.9; }

.aboutUsNote {
  width: 70%;
  font-size: 20px;
  background: black;
  color: white;
  position: relative;
  font-family: sans-serif;
  line-height: 1.4;
  position: relative;
  bottom: 100px;
  margin-left: 15%;
  padding: 5%; }

/************************
footer styles
*************************/
.footerDesign {
  background-color: #8c8c8c;
  height: 200px;
  margin-top: 50px; }
  .footerDesign ul {
    padding-top: 90px; }
  .footerDesign li {
    display: inline;
    margin-left: 5%; }
  .footerDesign a {
    color: black; }

.logo, .footerDownload {
  margin-top: -10px; }
  .logo li, .footerDownload li {
    margin-left: 5%; }

.footerDownload ul {
  margin-left: 35%; }
.footerDownload img {
  width: 100px;
  height: 30px; }

.footerImg {
  width: 40px; }

.footerDownload, .footerNote, .logo {
  width: 33.3%;
  float: left; }

/*********************
Media query
************************/
@media screen and (min-width: 769px) and (max-width: 1100px) {
  .aboutCompany h1 {
    position: relative;
    top: 50%;
    padding-left: 30%;
    color: white;
    font-size: 3em; }

  .box {
    width: 270px;
    height: 370px; }
    .box img {
      width: 270px;
      height: 370px; }

  .features {
    height: 1000px; }
    .features h1 {
      font-size: 15px;
      height: 50px; }

  .top {
    top: -373px; }

  .newAccount p {
    display: none; }
  .newAccount a {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    float: none;
    margin-right: 0; }

  .hiddenDiv {
    width: 500px;
    height: 550px; }
    .hiddenDiv img {
      width: 200px;
      height: 400px;
      margin-top: 20px;
      margin-right: 20px; }
    .hiddenDiv h1 {
      font-size: 20px;
      margin-bottom: 10px;
      margin-top: 20px;
      margin-left: 5px; }
    .hiddenDiv .featureHiddenNote {
      float: left;
      width: 40%;
      margin-top: 0px;
      margin-left: 5px;
      font-size: 14px;
      text-align: left;
      line-height: 1.3; } }
@media screen and (min-width: 320px) and (max-width: 768px) {
  body, p, h2, .title {
    font-size: 14px; }

  .hiddenDiv img {
    width: 200px;
    height: 300px; }

  .Login {
    display: none; }

  .mainHeader {
    height: 50px; }
    .mainHeader h1 {
      font-size: 25px;
      padding-top: 10px; }

  #owl-demo h2, #owl-demo p, #owl-demo2 h2, #owl-demo2 p {
    font-size: 18px;
    font-weight: none; }
  #owl-demo .item, #owl-demo2 .item {
    background-size: cover;
    width: 100%;
    padding: 13rem 0;
    height: 550px; }
    #owl-demo .item .info, #owl-demo2 .item .info {
      width: 100%;
      padding-left: 0;
      line-height: 1.3; }
    #owl-demo .item button, #owl-demo2 .item button {
      padding: 10px;
      width: 100%;
      font-size: 13px; }

  .owl-theme .owl-controls .owl-buttons div {
    display: none; }

  .box {
    width: 50%;
    height: 320px; }
    .box img {
      height: 320px; }

  .features {
    height: 1600px; }
    .features h1 {
      font-size: 15px;
      height: 65px;
      padding: 10px; }

  .useCase {
    display: none; }

  .top {
    top: -323px; }

  .footerNote {
    display: none; }

  .footerDownload {
    display: none; }

  .newAccount p {
    display: none; }
  .newAccount a {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    float: none;
    margin-right: 0; }

  .legal {
    padding-left: 10px; }
    .legal article {
      font-size: 15px;
      line-height: 1.2; }
    .legal a {
      font-size: 13px;
      height: 60px;
      padding-top: 13px; }
    .legal h2, .legal h1 {
      font-size: 18px; }
    .legal ul, .legal ol {
      padding-left: 5px; }
      .legal ul li, .legal ol li {
        font-size: 15px; }

  .logo {
    float: none;
    width: 100%;
    text-align: center; }

  .aboutCompany h1 {
    font-size: 2.5em;
    padding-left: 30%; }

  .menu-text {
    display: none; }

  #owl-demo button, #owl-demo2 button {
    padding: 5px;
    width: 40%;
    margin: 10px auto;
    font-size: 14px; }

  .hiddenDiv {
    width: 300px;
    height: 400px; }
    .hiddenDiv img {
      width: 120px;
      height: 300px;
      margin-top: 10px;
      margin-right: 20px; }
    .hiddenDiv h1 {
      font-size: 20px;
      margin-bottom: 10px;
      margin-top: 20px;
      margin-left: 5px; }
    .hiddenDiv .featureHiddenNote {
      float: left;
      width: 50%;
      margin-top: 0px;
      margin-left: 5px;
      font-size: 14px;
      text-align: left;
      line-height: 1.3; }

  .floatLeft1, .floatLeft2, .floatRight1, .floatRight2 {
    float: none;
    margin: 30px auto; } }
@media only screen and (max-width: 320px) {
  .menu-text {
    display: none; }

  body, p, h2, a {
    font-size: 13px; }

  #owl-demo button, #owl-demo2 button {
    padding: 5px;
    width: 40%;
    margin: 10px auto;
    font-size: 14px; }

  .Login {
    display: none; }

  .mainHeader {
    height: 50px; }
    .mainHeader h1 {
      font-size: 20px; }

  #owl-demo h2, #owl-demo p, #owl-demo2 h2, #owl-demo2 p {
    font-size: 14px;
    font-weight: none; }
  #owl-demo .item, #owl-demo2 .item {
    background-size: cover;
    width: 100%;
    padding: 13rem 0;
    height: 550px; }
    #owl-demo .item .info, #owl-demo2 .item .info {
      width: 100%;
      padding-left: 0;
      line-height: 1.3; }
    #owl-demo .item button, #owl-demo2 .item button {
      padding: 10px;
      width: 100%;
      font-size: 13px; }

  .owl-theme .owl-controls .owl-buttons div {
    display: none; }

  .box {
    width: 80%;
    height: 250px; }
    .box img {
      width: 80%;
      height: 270px; }

  .features {
    height: 1500px; }
    .features h1 {
      font-size: 15px;
      height: 80px; }

  .floatLeft1, .floatLeft2, .floatRight1, .floatRight2 {
    margin: 30px auto;
    float: none; }

  .top {
    top: -272px; }

  .footerNote, .footerDownload, .useCase {
    display: none; }

  .logo {
    width: 90%;
    text-align: center; }

  .newAccount p {
    display: none; }
  .newAccount a {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    float: none;
    margin-right: 0; }

  .legal a {
    font-size: 11px;
    height: 60px; }
  .legal h2, .legal h1 {
    font-size: 25px; } }

/*# sourceMappingURL=style.css.map */
