/*
Project Name: AirVoz
Client: GPMEC
Author: Maryam Sarabian
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
    -moz-box-sizing: border-box;

    /* Firexfox */
    -webkit-box-sizing: border-box;

    /* Safari/Chrome/iOS/Android */
    box-sizing: border-box;

    /* IE */
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.alignright {
    float: right;
    padding: 0 0 10px 10px;

    /* note the padding around a right floated image */
}

.alignleft {
    float: left;
    padding: 0 10px 10px 0;

    /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {}

a {
    text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
$font: "Lobster", cursive;
$BColor: #3F739E;
$WColor: white;

.container {
    margin: 0 auto;
    width: 100%;
}

.mainHeader {
    background: #3F739E;
    padding: 0.8%;
    color: $WColor;
    position: fixed;
    width:100%;
    z-index: 1;
    opacity:0.9;

    h1 {
        font-family: $font;
        font-size: 50px;
        text-align: center;
        width: 33.3%;
        float: left;
    }

    .hamburger:before {
        content: '\2630';
        cursor: pointer;
        font-size: 25px;
        margin-top: -2%;
        width: 20px;
        padding-right: 4%;
    }

    .menu {
        width: 33.3%;
        float: left;
        padding-left: 4%;
        margin-top: 1%;
    }

    a {
        color: $WColor;
        text-decoration: none;
    }

    .Menu1 {
        margin-left: 20px;
    }

    .Login {
        text-align: right;
        width: 33.3%;
        float: left;
        margin-top: 20px;
    }

    li {
        display: inline;
        padding-right: 20px;
    }

    button {
        background-color: black;
        border: solid 1px blue;
    }
}

.LogInPage {
    background: black;
    color: $WColor;
    padding: 0.8%;

    h1 {
        font-family: $font;
        font-size: 50px;
        text-align: center;
        padding-bottom: 5%;
        margin: 0 auto;
        width: 33.3%;
        border-bottom: 1px solid white;
    }

    h2 {
        width: 100%;
        text-align: center;
        line-height: 0.1em;
        margin: 0 auto;
    }

    h2 span {
        padding: 0 10px;
        background: black;
    }

    .boxes {
        margin: 40px auto 0 auto;
        width: 33.3%;
    }

    #checkbox-rememberme {
        width: 22px;
        height: 23px;
        color: blue;
    }

    button {
        display: block;
        width: 100%;
        margin: 50px 0;
              height: 40px;
        border-radius: 6px;
        background: $BColor;
        color: white;
    }

    a {
        text-decoration: none;
        color: white;
    }

    .SignIn {
        padding-left: 36%;
        color: $BColor;
    }

    .forgetPass {
        padding-bottom: 24px;
        border-bottom: 1px white solid;
    }
}

#email,#passWord,#userName,#datepicker, #confirmPassWord {
    width: 100%;
    height: 40px;
    margin: 10px auto 40px auto;
    border-radius: 6px;
}



.checkBox {
    label {
        display: block;
        width: 30%;
        padding: 10px;
        margin-top: -8%;
        margin-left: 10%;
    }
}

.newAccount {
    margin: 0 auto;

    p {
        margin-top: 30px;
        margin-left: 50px;
    }

    a {
        text-decoration: none;
        display: block;
        width: 150px;
        margin-top: -15px;
        float: right;
        margin-right: -30px;
    }
}

a:hover {
    text-decoration: underline;
}

#owl-demo2{
    .owl-buttons {
   display:none;
}
}

#owl-demo, #owl-demo2{
    .item1, .item2, .item3 {
        background-size: cover;
        width: 100%;
        height:550px;

}
        .wrapper{
             padding: 13rem 0;
             height:550px;
             width:100%;
             background:rgba(0, 0, 0, 0.5);
        }
        .info {
             float:right;
             width:50%;
             font-family: sans-serif;
             //padding-left:60px;
             color: #f1f1f1;
             line-height: 1.7;
            //text-align:center;
            font-weight: bold;
            margin-right:25%;
            a{
                color:white;
            }
            
  }          

            h2 {
                font-size: 30px;
                
            }
            p {
                
                font-size: 22px;
                
            }
            button {
                background:$BColor ;
                display:block;
                padding:12px;
                width:50%;
                color:white;
                margin:20px auto;
                font-size:18px;
                
            }
        }
       
#test {
  position: relative;
  padding-left: 250px; }

#test2 {
  padding-left: -250px; }
.owl-buttons {
    margin-top: -330px;
    display: block;
    animation-name: arrow-fade-out;
    cursor: pointer;
    font-size: 20px;
    clear:both;

    .owl-prev {
        float: left;
    }

    .owl-next {
        float: right;
    }
}

.owl-buttons {
    div {
        color: blue;
        zoom: 6;
        padding: 3px 10px;
        font-size: 52px;
        opacity: 0.5;
    }
}

.owl-theme .owl-controls .owl-buttons div {
    color: white;
    zoom: 1;
    padding: 13px;
    font-size: 22px;
    opacity: 0.5;
    width: 40px;
    height: 50px;
}


 //Border effect with :after pseudo element
 /*header.mainHeader:after {
    content: "";
    position: absolute;
    z-index: 1000;
    border-right: 100vw solid #3F739E;
 top: 70px;
 border-bottom: 40px solid transparent;
  left: 0;
}*/



    .features {
        
        margin-top:350px;
        padding:30px;
        moz-margin-start: 300px;
        webkit-margin-start: 300px;
         margin-start: 300px;
        clear:both;
        width:100%;
        text-align: center;
        background-size:cover;
        padding-bottom:100px;
        height: 1200px;

        h1{
            color:$WColor;
            background-color: black;
            border-radius: 10px;
            font-family: sans-serif;
            font-size: 20px;
            height: 40px;
            margin: 0 auto;
            padding-top: 10px;
            text-align: center;
            width: 50%;
            margin-bottom:10px;
            margin-top:20px;
        }
        /*p{
        
            font-size:23px;
            font-family: sans-serif;
            text-align:center;
            margin-top:20px;
        }*/
    }
    
    
  .box{
  //width: 400px;
  height: 400px;
  
  overflow: hidden;
  border: 1px solid #000;
  box-shadow: 0px 0px 15px 0px #666,
              0px 5px 15px 0px #000;
  img{
    width: 350px;
  height: 450px;

    }
}
.cover{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
  -moz-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
  transition: all 0.4s cubic-bezier(.99,.99,0,.61);
  padding: 1em;
  color: #fff;
  overflow: hidden;
  border-radius:30px;
  border:2px solid pattern-grid-dark;
  text-shadow: 1px 1px 0px #000;
}
.title{
  font-size: 20px;
  font-style: italic;
  padding-top:130px;
  text-align :center;
  font-family: sans-serif;
}


.box:hover .top{
  -webkit-transition: all 0.7s cubic-bezier(.99,.99,0,.61);
   top: 0px;
}

.top{
  top: -453px;
}

.floatLeft1{
  float:left;
  clear:both;
  margin-left:10%;
  margin-top:50px;
  border-radius:30px;
}
.floatLeft2{
  float:left;
  clear:both; 
  margin-left:10%;
  margin-top:50px;
  border-radius:30px;

}
.floatRight1{
  float:right;
   margin-right:10%;
  margin-top:50px;
  border-radius:30px;
      width: 352px;
}
.floatRight2{
  float:right;
  margin-right:10%;
  margin-top:50px;
  border-radius:30px;
  
}




    /*.featureshidden1{
        background-image:url("left.jpeg");
        background-size:cover;
        width:340px;
        height: 340px;
        border-radius:170px;
        float:left; 
        clear:both;
        margin-top:20px; 
        margin-left:200px;
*/
    
    //html,body { position: relative; left: 0;}
   


/*          navigator           */

#navigator{
    width: 250px;
    height:100%;
    position: fixed;
    top: 0;
    left: -250px;
   background: rgba(52, 152, 219,0.7);
    float: left;
    z-index: 10;
}
#nav{
    width: 250px;
    height: auto;
    display: block;
    margin: 0 ;
    padding: 0;
}
.nav_tab{
    width: 250px;
    height: 50px;
    display: block;
}
.nav_tab a p{
    color: rgba(255,255,255,0.8);
    font-size: 22px;
    text-shadow:1px 1px 5px rgba(0,0,0, 0.9);
    padding: 15px 0;
    text-align: center;
    transition:0.35s ease;
    -webkit-transition:0.35s ease;
    -moz-transition:0.35s ease;
}
.nav_tab a p:hover{
    background: rgba(255,255,255,0.9);
    color: rgba(0,0,0,1);   
    letter-spacing: 2px;
    transition:0.35s ease;
    -webkit-transition:0.35s ease;
    -moz-transition:0.35s ease;
    }
.menu-icon{
    width: 150px;
    height: 35px;
    position: fixed;
    top: 0;
    left: 0px;
    margin: 10px;
    z-index: 10;
    padding-top:5px;
}
.menu-text {
    width: 50px;
    height: 35px;
    font-size: 23px; 
    color:$WColor;
    display: block;
    position: fixed;
    top: 0;
    left: 50px;
    margin-top: 18px;
    margin-left:10px;
    z-index: 9;
}

.menu-icon div {
  width: 35px;
  height: 5px;
  background: $WColor;
  margin: 4px ;
  padding-left:30px;
  transition: all 0.35s;
  border-radius: 2px;
}
.on .line_one {transform: rotate(45deg) translate(7px, 7px);}
.on .line_two {opacity: 0;}
.on .line_three {transform: rotate(-45deg) translate(7px, -7px);}


/*#featuresAfterExpandingMenu{

    display:none;

}
#featuresAfterexpand{
    height: 1920px;
}*/

.options{
    margin-top:50px;
    margin-bottom:50px;
    width:100%;
    div{
        width:30%;
        background-color:black;
        color:$WColor;
        height: 60px;
        text-align: center;
        padding-top:2%;
        margin:0 auto;
        font-family: sans-serif;
        font-size:20px;
        border-radius:10px;
    }

}
/*********
UseCase Section
************/
.useCase{
    height: 300px;
    padding:2px;
    margin-top:50px;
    
}

.usecase-wrapper{
    margin:0 auto;
    width:85%
}
.faceBook,.instagram,.twitter{
    img{
         //width:70%;
        margin-left: 20%;
        border:2px solid gray;
        border-radius:20px;

    }
    float:left;
    width:33.3%;
    
    a{
        padding:5px;
    }
}
.twitter :nth-child(2), .instagram :nth-child(2), .faceBook :nth-child(2){
    display:none;
}

#twitterUseCase,#faceBookUseCase,#instagramUseCase{
     height: 90%;
     width:84%;
     margin-left:30px;
}
#twitterClick, #instagramClick, #faceBookClick{
    img{
        height: 120px;
        width:120px;
        //padding:20px;
        margin-left:33%;
    
    }
}

/*#useCaseAfterExpandingMenu{
height: 400px;
}*/


/*******************
Legal Page
*********************/
.legal{
    position:relative;    
    top:100px;
    text-align: center;
    padding-left:40px; 
    font-family: sans-serif;
    /*a:active{

     background-color: black;
     color:white;
     text-decoration: none;
    }*/
    
    
    a{
        text-decoration: none;
        color:black;
        width:210px;
        height: 50px;
        margin:20px 2px;
        font-size:20px;
        background:gray;
        border:1 px solid gray;
        display:block;
        padding:12px;
        float:left;

    }
    

    h1{
        font-size:100px;
    }
    h2{
        text-align:left;
        font-size: 35px;
        clear:both;
    }

    article{
        padding:20px 0;
        text-align: left;
        font-size: 20px;
        line-height: 30px;
    }
    h1,h2{
            text-transform: uppercase;
    }
    ul,ol{
        text-align:left;
        font-size: 19px;
        line-height: 30px;
        padding-left: 60px;
        line-height: 20px;
    }
        article{
            line-height: 25px;
            
        }
    
    ul{
        list-style-type: disc;
    }
    ol{
        list-style-type:decimal;
        .lowerRoman{
      list-style-type: lower-roman;
      }   
      .upperAlpha{
        list-style-type: upper-alpha;
      }
    }
    p{
    text-align:left;
    margin-left:20px;
}
 
}

.color{
     background:#ccddff;
}


.legalButtons{
        margin:0 auto;
        width:700px;
    }

  
.legal .selectedLink{
    background:black;
    color:white;
}

.hiddenDiv{
    display: none;
    width:1000px;
    height: 820px; 
    background-image:url("https://d1a3f4spazzrp4.cloudfront.net/web-fresh/pattern-grid-dark@1x.gif");
    background-size:cover;
    background-position: cover;
    
    img{
        width:360px;
        height: 600px; 
          float:right;
          margin-top:10px;
          margin-right:20px;
         
    } 
    h1{
        font-size:24px;
        
        margin-bottom:20px;
        margin-top:-100px;
    }
    .featureHiddenNote{
        float:left;
        width:605px;
        margin-top:300px;
        margin-left:15px;
        font-size:20px;
        font-family: sans-serif;
        color:white;
        text-align:left;
        line-height: 1.7;


    }
}


/************************
SignUp Page Styles
************************/
.signUpHeader{

    h1{
        margin-left:35%;

    }

}
.signUpTitle{
    color:$BColor;
    font-family: sans-serif;
     position:relative;    
    top:100px;
    font-size:30px;
    text-align:center;
}
.signUpimage{

    background-image:url("../IMAGE/sign-up.jpg")left top no-repeat; 
    height: 235px;
    width: 212px;
    margin-left: -55%;
}
.SignUpPage{
    background-color: $WColor;
    color:black;
}

#submitSignupPage{
    display:none;
}
#error{
        color:red;
        margin-left:104px;
    }
/*************
About Us Page
*************/

.aboutCompany{
    height: 700px;
    background-image:url("http://media-cdn.tripadvisor.com/media/photo-s/01/ae/76/7a/city-view-at-night-from.jpg");
    background-size:cover;
    //background-position:top 50px;
    h1{
        position:relative;
        top:50%;
        left:380px;
        width:70%;
        color:white;
        font-size: 5em;
        font-family: sans-serif;
    }
}
.aboutUsWrapper{
    height: 700px;
    opacity:0.9;
}
.aboutUsNote{
    width:70%;
    font-size:20px;
    background:black;
    color:$WColor;
    position:relative; 
    font-family: sans-serif;
    line-height: 1.4;
    position:relative;
    bottom:100px;
    left:200px;
    padding:5%;
}
/************footer************/

#legalPage{
    margin-top:200px;
}
.footerDesign{
    background-color:#8c8c8c;
    height: 200px;
    margin-top:50px;
    ul{ 
        padding-top:90px;
    }
    li{
        display:inline;
        margin-left:5%;
    }    
    a{
            color:black; 
    }
       
}
.logo, .footerDownload{
    margin-top:-10px;

li{
    margin-left:5%;
}

 }  
 .footerDownload{
    ul{
        margin-left:35%;
    }
    img{
        width:100px;
        height: 30px;
    }
 } 
    
.footerImg{
    width:40px;
}

.footerDownload,.footerNote, .logo{

    width:33.3%;
    float:left;
}


/*********************
Media query
************************/
@media screen and (min-width:769px) and (max-width:1100px){

      .box{
    width: 270px;
    height: 370px;
    img {
    width: 270px;
    height: 370px;
    }
}

.features{
    height: 1000px;
h1{
    font-size: 15px;
    height: 50px;
}
  
    }
   /* .floatLeft1,.floatLeft2,.floatRight1,.floatRight2 {
    
    margin-left: 13%;
}*/
.top {
    top: -373px;
}
}
@media screen and (min-width:320px) and (max-width:768px){
    body, p, h2{
        font-size:14px;
    }
    
    .Login{
            display:none;
        }
    .mainHeader{
        height: 50px;
         h1{
            font-size:25px;
          }
    }
   
    #owl-demo, #owl-demo2 {
         h2,p{
                font-size: 14px;
                font-weight:none;
                //text-align: center;
             }
        .item {
            background-size: cover;
            width: 100%;
            padding: 13rem 0;
            height:550px;
        .info {
            width:100%;
            padding-left:0;
            line-height: 1.3;
            //text-align:center;
             
           

        }
            button {
               
                padding:10px;
                width:100%;
                font-size: 13px;
                
            }
        }
    }
      
    .owl-theme{
        .owl-controls{
            .owl-buttons{
                div {
                    display: none;
                }

            }
        }
    }
   //.floatLeft1,.floatLeft2,.floatRight1,.floatRight2{
    //float:none;
    //margin:0 auto;
   //}
   .box{
    width: 35%;
    height: 220px;
    img {
    width: 250px;
    height: 320px;
    }
}

.features{
    height: 1000px;
h1{
    font-size: 15px;
    height: 50px;
}
  }

.useCase{
    display:none;
}
.top{
    top:-323px;
}
.footerNote{
    display:none;
}
.footerDownload{
    float:right;
}
}

@media only screen and (max-width:320px){
    body, p, h2{
        font-size:13px;
    }
    
    .Login{
            display:none;
        }
    .mainHeader{
        height: 50px;
         h1{
            font-size:20px;
          }
    }
   
    #owl-demo, #owl-demo2 {

            h2,p{
                font-size: 14px;
                font-weight:none;
                //text-align: center;
             }
        .item {
            background-size: cover;
            width: 100%;
            padding: 13rem 0;
            height:550px;
        .info {
            width:100%;
            padding-left:0;
            line-height: 1.3;
            //text-align:center;
            

        }
            button {
               
                padding:10px;
                width:100%;
                font-size:13px;
                
            }
        }
    }
      
    .owl-theme{
        .owl-controls{
            .owl-buttons{
                div {
                    display: none;
                }

            }
        }
    }
   //.floatLeft1,.floatLeft2,.floatRight1,.floatRight2{
    //float:none;
    //margin:0 auto;
   //}
   .box{
    width: 27%;
    height: 150px;
    img {
    width: 150px;
    height: 270px;
    }
}

.features{
    height: 1000px;
h1{
    font-size: 15px;
    height: 80px;
}
  }

 .floatLeft1,.floatLeft2,.floatRight1,.floatRight2 {
    
    margin-left: 0;
}
.useCase{
    display:none;
}
.top{
    top:-223px;
}
.footerNote{
    display:none;
}
.footerDownload{
    float:right;
}
.footerDownload, .footerNote, .logo {
    width: 40%;
}
}
